# Añadir carpeta migrations a .gitignore
migrations/
envGlooba/
venv/
env/
.env/
Glooba/static/uploads/

# Variables de entorno y configuración
.env
.flaskenv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de log
*.log
logs/

# Archivos generados por IDEs
.idea/
.vscode/
*.swp
*.swo
.vs/
*.sublime-workspace
*.sublime-project

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Directorio de archivos subidos
archivos_csv/*
!archivos_csv/.gitkeep

# Archivos de configuración local
instance/
