# Archivos de compilación
__pycache__/
*.py[cod]
*.so

# archivos CSV
archivos_csv/*.csv
archivos_csv/.~lock.*

# Archivos de migración de bases de datos locales
migrations/
instance/
diagramaDeClases.dia
diagramaDeClases.dia.autosave

# Archivos de configuración de IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store

# Bases de datos SQLite
*.sqlite
*.db

token.txt

# Entornos virtuales
envCalcu/
envGlooba/
env/
venv/
ENV/
*.env

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de compilación
__pycache__/
*.py[cod]
*.so

# Archivos de migración de bases de datos locales
migrations/
instance/
diagramaDeClases.dia
diagramaDeClases.dia.autosave

# Archivos de configuración de IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store

# Bases de datos SQLite
*.sqlite
*.db

token.txt

# Logs
logs/
*.log

# Carpetas innecesarias
__pycache__/
venv/
env/
ENV/
node_modules/
dist/
build/
Archivos%20de%20configuracion%20del%20servidor/